<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Articles_id</title>
</head>
<h1>
    <a href="{% url 'articles:articles'%}">Articles</a>
</h1>

<body>
{{context.name}}
<br>
{{context.text}}
</body>
<form action="{% url 'articles:like' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="id_article" value="{{context.id}}" />
                <input type="submit" value="Like" class="btn btn-danger"/>
    </form>
 {{context.like_count}}
<h2>Authors</h2>
{%for author in context.author.all%}
<a href="{% url 'articles:author_detail' author.id%}">{{author.first_name}}</a>
<br>
{{author.last_name}}
<br>
{{author.date_of_birth}}
<br>
<br>
{%endfor%}
</html>