{% extends 'shop/base.html' %}
{% block body %}
<h1>Orders History:</h1>

    {%for order in orders%}
        {%for order_entry in order.order_entries.all%}
        <a href="{% url 'shop:products_detail' order_entry.product.id%}">{{order_entry.product.name}}</a>
            / {{order_entry.count}}
            <br>
            Description: {{order_entry.product.description}}
            <br>
        {%endfor%}
    Total Count: {{order.total_count}}
    <br>
    Total Cost: {{order.total_price}}
    <br>
    STATUS: {{order.status}}
    <br>
    <form action="{% url 'shop:repeat_order' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="order_id" value="{{order.id}}" />
                <input type="submit" value="Repeat Order " class="btn btn-danger"/>
    </form>
    <br>
    <br>
{%endfor%}
<div class="btn-group">
    <ul>
        {% for p in context.page_range %}
            <li style="display: inline; margin-right: 10px;">
                <a href="{% url 'shop:orders_history' p %}">{{ p }}</a>
            </li>
        {% endfor %}
    </ul>
</div>
{%endblock%}